<div>
<nav class="navbar navbar-toggleable-md  navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="assets/images/stead-logo-white.svg"  height="25" class="d-inline-block align-top" alt="Stead">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item" *ngIf="!authService.loggedIn();">
        <a class="nav-link" href="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn();">
        <a class="nav-link" href="/login" routerLinkActive="active">Logout</a>
      </li>
      
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
   
  </div>
</nav>
<section class="main-section">
 <router-outlet></router-outlet>
 <!-- <div class="text-center">
 <h2>Welcome to Angular2 JWT Boilerplate Application!</h2>
 <a routerLink="/login" routerLinkActive="active"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Login</button></a>
 </div> -->
 </section>
</div>